<header>
    <button id="back-btn"><a href="">Home</a></button>
    <div id="title"><h2>Digital Calendar</h2></div>
    <div id="view-dropdown" ngbDropdown #myDrop="ngbDropdown">
        <button type="button" class="btn btn-outline-primary me-2" id="dpManual" ngbDropdownAnchor (focus)="myDrop.open()">Views</button>
        <div ngbDropdownMenu aria-labelledby="dpManual">
             <button ngbDropdownItem><a href="/daily">Daily</a></button>
             <button ngbDropdownItem><a href="/weekly">Weekly</a></button>
             <button ngbDropdownItem><a href="/monthly">Monthly</a></button>
        </div>
     </div>
    <div id="profile" >
        <button onclick="showSettings()"><img src="assets/images/profile.png"></button>
        <select id="settings" hidden>
            <!-- This can display a dropdown of username greeting, maybe nothing else?  -->
            <option>Account Details</option>
            <option>Logout</option>
        </select>
    </div>
    <hr>
</header>
<br>