<!-- <script src="https://apis.google.com/js/platform.js" async defer></script> 
 <meta name="google-signin-client_id" content="process.env.GOOGLE_CLIENT_ID.apps.googleusercontent.com"> -->
<!-- ngIf to show either, go through textbook to create this -->
<!-- <div class="login-box" *ngIf="log">
    <label>Username:
        <input type="text">
    </label><br>
    
    <br><label>Password:
        <input type="password">
    </label><br>

    <button>Login</button>
    <p>Don't have an account? <a (click)="changeView('log')">SIGN UP HERE!</a></p>
</div>

<div class="signup-box" *ngIf="sign">
    <form (ngSubmit)="register(registerForm)" #registerForm="ngForm">
        <label>Enter email:
            <input type="text">
        </label><br>
        <br><label>Create password:
            <input type="password">
        </label><br>

        <br><button> Create account</button>
    </form>
    <p>Already have an account? <a (click)="changeView('sign')">LOGIN HERE!</a></p>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
</div> -->

<div>
    <h1>Digital Planner</h1>
    <h3> Let's get started</h3>

    <div class="g-signin2" data-onsuccess="onSignIn">
        <button (click)="login()">Login with Google</button>
    </div>
</div>