<h2>Schedule</h2>
<br>
<table>
    <thead>
        <tr>
            <th>User</th>
            <th>Tasks</th>
            <th>Not started</th>
            <th>In progress</th>
            <th>Completed</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
