<div class="task-form-container">
  <!-- Left form: Input breakdown and generate -->
  <div class="form left-form">
    <form (ngSubmit)="generate()">
      <legend>Task Breakdown</legend>

      <label for="taskSelect">Choose tasks to breakdown:</label>
      <div>
        <h4>Total tasks</h4>
        <ul type="square" *ngFor="let task of todo">
          <li (click)="addTask(task.id)">{{task.title}}</li>
        </ul>
      </div>

      <div *ngIf="pickedTasks.length > 0" class="picked-tasks">
        <h4>Selected Tasks:</h4>
        <div *ngFor="let task of pickedTasks" class="task-item">
          <span>{{ task.title }}</span>
          <input
            type="number"
            [(ngModel)]="bdNumbers[task.id]"
            name="breakdown-{{task.id}}"
            min="1"
            required
          />
        </div>
      </div>

      <label>
        Deadline for set of tasks:
        <input [(ngModel)]="endTime" type="date" name="endTime" />
      </label>
      <label>
        Additional notes:<br />
        <textarea [(ngModel)]="additionalNotes" name="additionalNotes"></textarea>
      </label>

      <div *ngIf="pickedTasks.length > 1">
        <h4>Total selected tasks: {{ pickedTasks.length }}</h4>
      </div>
      <button type="submit">Generate</button>
    </form>
  </div>

  <!-- Right form: Display generated schedule -->
  <div class="form right-form">
    <h3>Generated Schedule</h3>
    <ol *ngFor="let item of todo">
      <li>{{ item.title }}</li>
    </ol>
    <label>
      Reaffirm endTime:
      <input [(ngModel)]="savedEndTime" type="date" name="savedEndTime" />
    </label>
    <button (click)="reset()">Reset Schedule</button>
  </div>
</div>
