<!-- form to input notes for genrating schedule -->
<div class="form">
  <form (ngSubmit)="generate()">
    <legend>Task Breakdown</legend>

    <label for="taskSelect">Choose tasks to breakdown:</label>
    <div>
        <h4>Total tasks</h4>
    <ul type="square" *ngFor="let task of todo">
        <li (click)="addTask(task.id)">{{task.title}}</li>
    </ul>
</div>

    <div *ngIf="pickedTasks.length > 0" class="picked-tasks">
      <h4>Selected Tasks:</h4>
      <div *ngFor="let task of pickedTasks" class="task-item">
        <span>{{ task.title }}</span>
        <input
          type="number"
          [(ngModel)]="bdNumbers[task.id]"
          name="breakdown-{{task.id}}"
          min="1"
          required
        />
      </div>
    </div>

    <label>
      Additional notes:<br>
      <textarea [(ngModel)]="additionalNotes" name="additionalNotes"></textarea>
    </label>

    <div *ngIf="this.pickedTasks.length > 1">
        <h4>Total selected tasks: {{this.pickedTasks.length}}</h4>
    </div>
    <button type="submit">Generate</button>
  </form>
</div>

<!-- where the generated schedule will pop up -->
<div class="form">
    <h3>Where generated scheduled will go</h3>
    <ol *ngFor="let item of todo">
        <li>{{item.title}}</li>
    </ol>
</div>

<!-- user can either download or regen schedule. 
 follow the same format so if they don't want to download it, it can showup in dashboard maybe -->
<ul type="none">

</ul>