<div class="tasks-container">
    <h2>Your Tasks</h2>

    <table class="tasks-table">
        <thead>
            <tr>
                <th><input type="checkbox" (change)="toggleSelectAll($event)" /></th>
                <th>Task Name</th>
                <th>Date</th>
                <th>Progress</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let task of tasks">
                <td><input type="checkbox" [(ngModel)]="task.selected" /></td>
                <td>{{ task.name }}</td>
                <td>{{ task.dueDate | date: 'MM/dd/yyyy' }}</td>
                <td>
                    <progress value="{{ task.progress }}" max="100"></progress>
                    <span>{{ task.progress }}%</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

